{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="col-lg-12" action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><i class="fa fa-lock"></i> {% trans "Login to your account" %}</h3>
                        <p>
                            {% trans "Please enter your credentials or simply click the Facebook button to sign in with your social network ID." %}
                        </p>
                        {% bootstrap_form form %}
                    </div>
                    <div class="panel-footer">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> {% trans "Login" %}</button>
                            <a href="" class="btn btn-success pull-right"><i class="fa fa-facebook-official"></i> {% trans "Sign In with Facebook" %}</a>
                            <div class="clearfix"></div>
                        {% endbuttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
