{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="col-lg-12" action="" method="POST">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><i class="fa fa-lock"></i> {% trans "Password change" %}</h3>
                        <p>
                            {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                        </p>
                        {% bootstrap_form form %}
                    </div>
                    <div class="panel-footer">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans "Change my password" %}</button>
                        {% endbuttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
