{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Password change done" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="col-lg-12" action="" method="POST">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><i class="fa fa-check"></i> {% trans "Password successfully changed" %}</h3>
                        <p class="alert alert-success">
                            {% trans "Thank you! Your password was updated." %}
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
