{% load pipeline %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" ng-app="ucm">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UnicycleMap.com :: {% block title %}{% endblock %}</title>

    {% stylesheet "base" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ucm-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UnicycleMap.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="ucm-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "map:index" %}"><i class="fa fa-map"></i> {% trans "Map" %}<span class="sr-only">(current)</span></a></li>
            <li><a href="#"><i class="fa fa-users"></i> {% trans "Users" %}</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i> {% trans "Events" %}</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="{% trans "Search users or events..." %}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{user}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "My Profile" %}</a></li>
                    <li><a href="{% url "password_change" %}">{% trans "Change Password" %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "logout" %}"><i class="fa fa-sign-out"></i> {% trans "Log Out" %}</a></li>
                  </ul>
                </li>
            {% else %}
                <li><a href="{% url "login" %}"><i class="fa fa-sign-in"></i> {% trans "Log In" %}</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
 
    {% block content %}{% endblock %}
    {% javascript "base" %}
    {% block scripts %}
    {% endblock %}
  </body>
</html> 
