{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Welcome" %}{% endblock %}
{% block content %}
<div id="container" ng-controller="MapController as mapctrl">
    <div id="map-sidebar" class="sidebar">
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li class="active"><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li uib-tooltip="{% trans "Edit profile" %}" tooltip-placement="right"><a href="#pencil" role="tab"><i class="fa fa-pencil"></i></a></li>
                <li><a href="#envelope" role="tab"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <ul role="tablist">
                <li><a href="#cogs" role="tab"><i class="fa fa-cogs"></i></a></li>
            </ul>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-pane active" id="home">
                <h1 class="sidebar-header">
                    Welcome
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <p>
                    <p class="well">
                        {% blocktrans %}
                            Addicted to unicycling? Great! Then get in touch with others: Simply <a href="">sign up</a> with your email address or directly <a href="">login</a> via Facebook and put your marker on the map.
                        {% endblocktrans %} 
                    </p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="pull-right btn btn-xs btn-primary"><i class="fa fa-arrow-right"></i> more</button>
                            <h3 class="panel-title"><i class="fa fa-calendar"></i> {% trans "What's up next?" %}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-8">Event</th>
                                            <th class="col-xs-4">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in events|slice:"4" %}
                                        <tr>
                                            <td ng-mouseenter="mapctrl.focusEvent({{event.id}})">
                                                <a href="" ng-click="mapctrl.focusEvent({{event.id}})"><strong>{{event.title}}</strong></a><br> <small><i class="fa fa-map-marker"></i> {{event.city}}, {% if event.state %}{{event.state}}, {% endif %} {{event.country}} {% if event.distance %}<span class="text-info">{{event.distance.km|floatformat:"1"}} km</span>{% endif %}</small>
                                            </td>
                                            <td>
                                                {{event.begin_date|date:"SHORT_DATE_FORMAT"}} <br><i class="fa fa-clock-o"></i> {{event.begin_date|time:"TIME_FORMAT"}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                        
                                </table>
                            </div>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="pull-right btn btn-xs btn-primary"><i class="fa fa-arrow-right"></i> more</button>
                            <h3 class="panel-title"><i class="fa fa-image"></i> New Images in the Community</h3>
                        </div>
                        <div class="panel-body">
                            <div class="img-responsive"><img src="http://adventureweek.org/wp-content/uploads/2016/02/Uni2.jpg"></div>
                        </div>
                    </div>
                </p>
            </div> <!-- /.sidebar-pane -->
        </div><!-- /.sidebar-content -->
    </div>
        <leaflet id="ucmap" class="sidebar-map" layers="mapctrl.layers" controls="mapctrl.controls" center="mapctrl.center" markers="mapctrl.markers"></leaflet>
</div>
{% endblock %}
